/* Whole Body Styling */
body {
    background-color: #81d4fa;
}

/* Title Styling */
h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* Left side of page styling for search/buttons and past searches */
aside {
background-color: #ececec;
padding-top: 15px;
}

.search-icon {
    margin: 5px;
}

/* Styling for the form for the list that populates from past searches */
.form-inline {
    padding-left: 10px;
}

/* Additional Styling for list that populates from past searches */
.list-group-item {
    margin: 1px;
}

/* Styling for past search section */
.past-searches{
    list-style: none;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

/* Past Searches Styling (Populated in JavaScript) */
.past {
    color: teal;
    border: 1px solid violet;
    margin: 5px;
}

/* Current Weather Main Styling */
.weather-card {
    text-align: center;
}

/* Text color for main part of Current Weather */
.weather-main {
color: black
}

/* Current City Weather Box Styling */
.weather-city {
    height: 400px;
    /* margin: 20px; */
    margin-top: 40px;
    padding-left: 20px;
    font-weight: bold;
}

/* Styling the main city Name */
#main-city-name {
    font-size: 30px;
}

/* Styling the current conditions */
#main-current-conditions {
font-size: 30px;
}

/* Five Day Forecast Styling */
.five-day {
    font-size: 16px;
    display: block;
    margin: 10px;
}

/* List of 5 day Forecast Styling */
.five-day li {
    list-style-type: none;
    padding-bottom: 5px;
}

/* Each Individual Day Styling in 5 day Forecast */
.day {
    background-color: blue;
    margin: 5px;
    color: white;
    line-height: 200%;
}

/* Footer Text Styling */
h6 {
    font-size: 14px;
}
  
  /* Footer Styling */
footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.5)
}

