body {
    background-color: #81d4fa;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

aside {
background-color: #ececec;
/* margin-top: 20px; */

}

.weather-card {
    /* margin: 100px; */

    text-align: center;
}

.weather-main {
    background-color: burlywood;
    border: 10px, solid, black;
    margin: 20px;
    height: 600px;
}

#main-city-name {
    font-size: 40px;
}

#main-current-conditions {
font-size: 30px;
}

.five-day {
    /* background-color: brown; */
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 10px;
}

.five-day li {
    list-style-type: none;
}

/* .days{
margin: 10px;

} */

/* .days::after:last-child {
    margin: 0;
} */

.day {
    background-color: blue;
    /* text-align: center; */
    margin: 15px;
    color: white;
    height: 150px;
    width: 75px;
}
