body {
    background-color: #81d4fa;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

aside {
background-color: #ececec;
padding-top: 15px;
/* margin: 10px; */
/* padding-right: 15px; */
/* padding-right: 20px; */
}

.form-inline {
    padding-left: 30px;
}

.list-group-item {
    margin: 1px;
}

.weather-card {
    /* margin: 100px; */

    text-align: center;
}

.past-searches{
    list-style: none;
    /* background-color: white; */
    color: black;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    /* border: 1px solid violet; */
}

.past {
    color: teal;
    border: 1px solid violet;
    margin: 5px;
}

.search-list {
    background-color: white;
    /* height: 50;
    width; */

}

.weather-main {
color: black
}

.weather-city {
    height: 400px;
    /* margin: 20px; */
    margin-top: 40px;
    padding-left: 20px;
}

#main-city-name {
    font-size: 30px;
}

#main-current-conditions {
font-size: 30px;
}

.five-day {
    /* background-color: brown; */
    /* text-align: center; */
    font-size: 16px;
    display: block;
    margin: 10px;
}

.five-day li {
    list-style-type: none;
    padding-bottom: 5px;
}

/* .days{
margin: 10px;

} */

/* .days::after:last-child {
    margin: 0;
} */

.day {
    background-color: blue;
    /* text-align: center; */
    margin: 5px;
    color: white;
    line-height: 200%;
    /* height: 150px;
    width: 75px; */
}
